@import "./variables";
.cities-parent {
  width: 60rem;
  height: 40rem;
  background-color: red;
}
.city-gallery {
  margin: 3rem;
  position: relative;
}
.city-photo {
  position: absolute;
  height: 20rem;
  box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}
.city-photo-1 {
  top: 10rem;
  left: 15%;
}
