@import "_variables.scss";
@import "_btn.scss";

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function font($font-name) {
  @return map-get($fonts, $font-name);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px
  background: color(bg-color);
}

.title {
  color: color(deep-space-sparkle);
  font-size: 15rem;
  font-family: font(title-font);
  padding-top: 8rem;
  text-align: center;
  margin: 0;
}
.smaller-title {
  color: color(deep-space-sparkle);
  font-size: 4rem;
  font-family: font(main-font);
  text-align: center;
  letter-spacing: 1rem;
  padding-bottom: 3rem;
}

.movie-title {
  color: color(eton-blue);
  font-size: 8rem;
  font-family: font(movie-title-font);
  margin: 0;
  padding-bottom: 2rem;
}

.subtitle {
  color: color(steel-teal);
  font-size: 3rem;
  font-family: font(subtitle-font);
  font-style: italic;
  font-weight: 100;
  margin: 0;
  padding-bottom: 2rem;
}

.container {
  margin: 2rem auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
}

.box {
  background-color: color(tea-green);
  height: auto;
  padding: 8rem;
  margin: 4rem;
  border-radius: 2rem;
}
.box-1 {
  margin-top: 0;
}
/* .content {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
} */

.movie-img {
  height: auto;
  width: 50%;
  padding-top: 2rem;
  padding-right: 4rem;
  float: left;
}

.movie-img-ms {
  height: auto;
  width: 50%;
  padding-top: 2rem;
  padding-left: 4rem;
  float: right;
}

.text-summary {
  color: color(charcoal);
  font-family: font(main-font);
  margin-top: 1rem;
  font-size: 4rem;
}

.text-float-right {
  float: right;
}

.readmore {
  text-align: center;
  font-family: font(main-font);
  font-size: 5rem;
  margin: 0;
  padding-top: 2rem;
}

a {
  text-decoration: none;
  color: color(charcoal);
}

a:hover {
  color: color(eton-blue);
}
