@import "_variables.scss";

.button-title {
  margin-bottom: 5rem;
}
.btn,
.btn:link,
.btn-visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: color(red);
  color: #fff;
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 10rem;
  transition: all 0.3s;
  position: relative;
}

.btn:hover {
  background-color: color(blue);
  color: color(orange);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
