@import "_variables.scss";

.img-container {
  width: 47%;
  position: relative;
  margin: auto;
}

.cat-img {
  display: block;
  height: auto;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 0%;
  opacity: 0;
  transition: all 0.5s ease;
  background-color: color(yellow);
  overflow: hidden;
}
.img-container:hover .overlay {
  opacity: 75%;
  width: 100%;
}

.cat-header {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
  white-space: nowrap;
}
